#banner {
  max-width: 959px;
}

nav {
  max-width: 959px;
}

body {
  max-width: 959px;
  background-color: #363636;
  color: #e74c3c;
}

.imgTile {
    width: 200px;
}

.imgDetails {
    width: 100%;
}
