#banner {
  max-width: 959px;
}

nav {
  max-width: 959px;
}

body {
  max-width: 959px;
  background-color: #363636;
  color: #e74c3c;
}

.imgTile {
    width: 225px;
    max-height: 275px;
}

.imgDetails {
    width: 100%;
}

.centerText {
    text-align: center;
}

.thriftyBox {
    height: 25em;
}
