<header>
  <img src="http://www.sudburylibraries.ca/en/resources/game-banner.jpg" alt="image of game characters" id='banner' />
</header>
<nav class='navbar navbar-inverse'>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{#link-to 'index'}}Game Judgement{{/link-to}}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>{{#link-to 'index'}}Create New Review{{/link-to}}</li>
        </ul>
    </div>
</nav>
<div class="container">
{{outlet}}
</div>
